@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: lightslategray;
    height: 100vh;
    width: 100vw;
}

main {
    position: absolute;
    top:50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 400px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);

    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

header {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color:turquoise;
}

section > div#list-creation {
    background-color: #00ced1;
    border: 5px solid #00ced1;
    border-radius: 10px;
    width: auto;
    margin: 10px 10px;
}

section > div#list-creation >input#listname {
    width: 80%;
}

div.bcontainer {
    position: absolute;
    bottom: 0;
    display: flex;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

div.bcontainer > p.bclean {
    flex: 1;
    background-color: skyblue;
    padding: 10px 61%;
}

div.bcontainer > p.bclean:hover {
    cursor: pointer;
    background-color: rgb(32, 148, 194);
    transition: background-color 1s;
}

div.bcontainer > p.bprint {
    flex: 1;
    background-color: lightgreen;
    padding: 10px 61%;
}

div.bcontainer > p.bprint:hover {
    cursor: pointer;
    background-color: rgba(0, 170, 0, 0.808);
    transition: background-color 1s;
}